@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
html{
  scrollbar-width: 40px;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scrollbar-width: thin;
}
body {
  background-color: rgb(221, 221, 221);
  text-align: center;
  scrollbar-color: rgba(213,50,99,1) rgb(223, 167, 177);
}
.interface {
  background-color: white;
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 8px 0px rgb(181, 181, 181);
  overflow: hidden;
  overflow-y: scroll;
}
.data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.top {
  background: linear-gradient(309deg, rgba(255,255,255,1) 0%, rgba(230,117,138,1) 0%, rgba(213,50,99,1) 100%, rgba(0,212,255,1) 100%);
  color: white;
  text-align: center;
  height: 200px;
  align-self: center;
  width: 130%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}
.top::before {
  content: "";
  width: 390px;
  height: 96px;
  border-radius: 50%;
  background-color: black;
  z-index: -1;
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 10px 50px 20px rgba(230,117,138,1);
}
.top .inside{
  padding: 10px 0px;
}
.top .inside h3 {
  padding: 10px;

}
.top .inside .dashes {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 8%;
  top: 5%;
  justify-content: space-between;
  height: 15px;
}
.top .inside .dashes .dash{
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
}

.top .inside .inoutcome {
  font-weight: bold;
  display: flex;
  width: 65%;
  margin: 3% auto 0px auto;
  justify-content: space-between;
  align-items: center;
}
.small {
  font-size: 10px;
}
.top .inside .inoutcome .balance {
  padding: 10px;
}



.inoutdisplay {
  width: 80%;
  height: auto;
  background-color: white;
  box-shadow: 0px 0px 2px 0px #cecece;
  margin: 30px auto 0px auto;
  display: flex;
  font-size: 20px;
  border-radius: 3px;
  font-weight: bolder;
}
.inoutdisplay .showdate{
  padding: 10px;
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(41,134,255,1) 0%, rgba(137,206,255,1) 100%);
  color: white;
  flex-shrink: 1;
  max-width: 50px;
  font-weight: bolder;
}
.inoutdisplay .income {
  color: green;
  padding: 10px;
  text-align: center;
  flex-grow: 1;
  border-right: 0.5px solid #dfdfdf;
}
.inoutdisplay .expense {
  color: red;
  padding: 10px;
  text-align: center;
  flex-grow: 1;
}



.history {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.history .data {
  width: 80%;
  margin: 3px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 1px 1px 8px 0px rgb(181, 181, 181);
  overflow: hidden;
}
.history .expense {
  border-left: 3px solid red;
}
.history .income {
  border-left: 3px solid green;
}
.history .data .amount {
  text-align: right;
  padding: 10px;
  flex-grow: 1;
  align-self: center;
}
.history .data .discription {
  text-align: left;
  padding: 10px;
  flex-grow: 1;
  align-self: center;
}
.history .data .deletethis {
  padding: 10px;
  cursor: pointer;
  position: relative;
  right: -50px;
  transition: 200ms ease-in-out;
}
.history .data:hover > .deletethis {
  right: 0;
}

.addbutton {
  font-size: 40px;
  color: white;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  background: linear-gradient(309deg, rgba(255,255,255,1) 0%, rgba(230,117,138,1) 0%, rgba(213,50,99,1) 100%, rgba(0,212,255,1) 100%);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.4;
  transition: 200ms;
}
.addbutton:hover {
  opacity: 1;
}
.modal {
  z-index: 1342;
  padding: 10px;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  color: black;
  box-shadow: 1px 1px 10px 0px rgb(109, 109, 109);
  border-radius: 2px;
  transition: 200ms all ease-in;
}
.modal table {
  width: 100%;
}
.modal table td input,table td input,table td select {
  width: 80%;
  margin: 10px;
  border: 1px solid rgb(221, 221, 221);
  color: rgb(230, 84, 110);
  background-color: white;
  padding: 5px;
  box-shadow: 0px 0px 2px 0px rgb(201, 201, 201);
}
.show {
  opacity: 1;
  z-index: 1;
}
.hide {
  opacity: 0;
  z-index: -1;
}

button {
  padding: 5px 25px;
  cursor: pointer;
  border: none;
  margin: 1px;
  background: rgba(230,117,138,1);
  color: white;
  transition: 200ms;
  box-shadow:  0px 0px 3px 0px rgb(202, 202, 202);
}

button:hover {
  background: rgba(213,50,99,1);
}




@media screen and (max-width:600px){
  .interface{width:100%;height:100%;}
}

@media screen and (max-height:600px){
  .top::before{top: 16%;}
}
@media only screen and (min-width : 320px) {
  .top::before{top: 12%;}
}